@font-face {
  font-family: "Myriad Pro Regular";
  src: url("../font/MYRIADPRO-REGULAR.OTF") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro Bold";
  src: url("../font/MYRIADPRO-BOLD.OTF") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Myriad Pro SemiBold";
  src: url("../font/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
  font-display: swap;
}
label.error {
  font-size: 16px;
  color: #ff0000;
  margin-top: 8px;
}

@media only screen and (max-width: 767px) {
  label.error {
    font-size: 14px;
  }
}
